div(style="height:5vh")
.columns.is-centered
    .column.is-three-quarters <%- partial('_partial/index')%>
        //- .card
        //-     .card-content <% var i = 0; %> <% page.posts.each(function(item){ i++ %><%if(i % 2 == 1) {%>
        //-         .columns <%}%> <%- partial('_partial/article-archive', {item: item}) %> <% if( i % 2 == 0) {%>
        //-         | <% } %>
        //-         | <% }); %>
        <%- partial('_partial/pagination') %>