.hero.is-fullheight-with-navbar.bg
    .container.has-text-centered.hero-body
        .container
            h1.title.txt <%-config.author%>
            h2.subtitle.txt <%- theme.auth.title%>
            .box 
                p contact me:
                <% Object.keys(theme.social).forEach(function(key){%>
                a.button(href!='<%-theme.social[key]%>')
                    <%if (key=='email') {logo = 'envelope'} else {logo = key.toLowerCase()}%>
                    i.fa.fa-fw(class!='fa-<%- logo%>')
                    <%- key%>
                <% })%>
//- .hero.bga
//-     a#about
//-     .hero-body.columns.is-desktop
//-         .container.column.is-3.box
//-             h1.title.has-text-centered About Me
//-             p <%=theme.auth.bio%>
//-             p learn more by reading my 
//-                 a(href="/archives") archives.
//-         .container.column.is-3.box.has-text-centered
//-             h1.title skills
//-             <% Object.keys(theme.skills).forEach(function(key){%>
//-             .container.level
//-                 .level-left <%=key%>
//-                 .level-right 
//-                     | <progress class="progress" value="<%=theme.skills[key]%>" max="100"></progress>
//-             |  <% })%>
//-         .container.column.is-3.box.has-text-centered
//-             h1.title tools
//-             |  <% Object.keys(theme.tools).forEach(function(key){%>
//-             .container.level
//-                 .level-left <%=key%>
//-                 .level-right 
//-                     | <progress class="progress" value="<%=theme.tools[key]%>" max="100"></progress>
//-             |  <% })%>