doctype html
html 
  !='<%-partial("_partial/head")%>'
  body.bga(style="min-height:100vh")
    .navbar
    !='<%- partial("_partial/header") %>'
    !='<%- body %>'
    |  <%- partial('_partial/footer') %>
    |  <%- partial('_partial/after-footer') %>