.tile.is-parent.is-6.is-auto
    .tile.is-child.card
        header.card-header
            p.card-header-title 
                a(href!='<%- config.root%><%-item.path%>') <%- item.title%>             
        .card-content
            <%= item.date.format(config.date_format) %>
            <%- partial('article-tags', {item: item}) %>
            .content <%= truncate(strip_html(item.content), {length: 160, omission: '...'})%>
            a(href!='<%- config.root%><%-item.path%>') read more
        //- footer.card-footer
        //-     a.card-footer-item(href!='<%- config.root%><%-item.path%>') Read