.card
    //- header.card-header
    //-     p.card-header-title  <%- item.title%>
    .card-content
        .content
            h1.title <%- item.title%>
            <%= item.date.format(config.date_format) %>
            <%- partial('article-tags', {item: item}) %>
            hr
            <%- item.content%>
            hr

