nav.navbar.is-dark.is-fixed-top
    .navbar-brand
        a.navbar-brand(href="/") <img class="is-1by1" src="<%- gravatar(theme.gravatar, {s: 52, d: 'mm'}) %>" alt="Image"></a>
        a.navbar-burger(aria-expanded="false" aria-label="menu" role="button" id="burger")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
    .navbar-menu
        .navbar-start <% Object.keys(theme.menu).forEach(function(key) { %>
            |<a class="navbar-item" href="<%= theme.menu[key] %>"><%=key %></a><% }) %>