|<% if(page.prev || page.next) { %>
nav.pagination.is-centered
    <a class="button is-info pagination-previous" href="<%- config.root %><%- page.prev_link %>" <%- page.prev ? "" : "disabled" %>
        span.icon
            i.fa.fa-chevron-left
        span Previous
    </a>
    <a class="button is-info pagination-next" href="<%- config.root %><%- page.next_link %>" <%- page.next ? "" : "disabled" %> >
        span Next Page
        span.icon
            i.fa.fa-chevron-right
    </a>
|  <% } %>