<div class="tile is-parent is-6 is-auto">
 <div class="tile is-child card">
  <header class="card-header">
   <p class="card-header-title">
    <a href="<%- config.root%>
<%-item.path%>">
     <%- item.title%>
    </a>
   </p>
  </header>
  <div class="card-content">
   <%= item.date.format(config.date_format) %>
   <%- partial('article-tags', {item: item}) %>
   <div class="content">
    <%= truncate(strip_html(item.content), {length: 160, omission: '...'})%>
   </div>
   <a href="<%- config.root%>
<%-item.path%>">read more</a>
  </div>
 </div>
</div>