<div class="card">
 <div class="card-content">
  <div class="content">
   <h1 class="title">
    <%- item.title%>
   </h1>
   <%= item.date.format(config.date_format) %>
   <%- partial('article-tags', {item: item}) %>
   <hr />
   <%- item.content%>
   <hr />
  </div>
 </div>
</div>