<nav class="navbar is-dark is-fixed-top">
 <div class="navbar-brand">
  <a class="navbar-brand" href="/">
   <img class="is-1by1" src="<%- gravatar(theme.gravatar, {s: 52, d: 'mm'}) %>" alt="Image">
  </a>
  </a>
  <a class="navbar-burger" aria-expanded="false" aria-label="menu" role="button" id="burger">
   <span aria-hidden="true">
   </span>
   <span aria-hidden="true">
   </span>
   <span aria-hidden="true">
   </span>
  </a>
 </div>
 <div class="navbar-menu">
  <div class="navbar-start">
   <% Object.keys(theme.menu).forEach(function(key) { %>
   <a class="navbar-item" href="<%= theme.menu[key] %>">
    <%=key %>
   </a>
   <% }) %>
  </div>
 </div>
</nav>