<head>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
 <%var title = page.title;if(is_post()){title = page.title}%>
 <title>
  <% if (title){ %>
  <%= title %> | <% } %>
  <%= config.title %>
 </title>
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
 </script>
 <%- css('css/index.css') %>
 <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
</script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
</script>
<![endif]-->
</head>