<div class="hero is-fullheight-with-navbar bg">
 <div class="container has-text-centered hero-body">
  <div class="container">
   <h1 class="title txt">
    <%-config.author%>
   </h1>
   <h2 class="subtitle txt">
    <%- theme.auth.title%>
   </h2>
   <div class="box">
    <p>contact me:</p>
    <% Object.keys(theme.social).forEach(function(key){%>
    <a class="button" href="<%-theme.social[key]%>">
     <%if (key=='email') {logo = 'envelope'} else {logo = key.toLowerCase()}%>
     <i class="fa fa-fw fa-<%- logo%>">
     </i>
     <%- key%>
    </a>
    <% })%>
   </div>
  </div>
 </div>
</div>