<!DOCTYPE html>
<html>
<%-partial("_partial/head")%>

<body class="bga" style="min-height:100vh">
 <div class="navbar">
 </div>
 <%- partial("_partial/header") %>
 <%- body %>
 <%- partial('_partial/footer') %>
 <%- partial('_partial/after-footer') %>
</body>

</html>